/* Overrides para Angular Material Table & Paginator en Modo Oscuro */
:host {
  display: block;
}

.material-dark-table {
  ::ng-deep {
    .mat-mdc-table, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-cell, .mat-mdc-header-cell {
      background-color: transparent !important;
    }

    /* Paginator overrides */
    .mat-mdc-paginator {
      background-color: transparent !important;
      color: inherit !important;
    }

    .mat-mdc-paginator-icon {
      fill: currentColor !important;
    }

    .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
      opacity: 0.4 !important;
    }

    .mat-mdc-select-value, .mat-mdc-select-arrow, .mat-mdc-paginator-page-size-label, .mat-mdc-paginator-range-label {
      color: inherit !important;
    }

    /* Fix sort arrows contrast */
    .mat-sort-header-arrow {
      color: #94a3b8 !important;
    }
  }
}